<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BookMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
         insert into book (jd_id,ad_id,book_name,book_promo_words,book_price,book_press,book_p_date,book_author,
         book_cover,cr_time,up_time,book_sort_id,booksortdetails_id,jd_href)
         values (#{jd_id},#{ad_id},#{bookName},#{promoWords},#{bookPrice},#{press},#{dateOfPublication},#{author},#{cover},
         #{createDate},#{updateDate},#{bookSortId},#{bookSortDetailsId},#{jdHref})
    </insert>
</mapper>    