<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.CategoryTwoMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
         insert into categorytwo (category_name,co_id)  values (#{category_name},#{co_id})
    </insert>
</mapper>    